body {
    font-family: "Roboto", serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 25px;

}

.header a {
    text-decoration: none;
}